/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background: #020300;
  color: #7D8CA3;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height: auto;
}

.navbar{
  background: #2A2D34;
  border: none;
}

.panel{
  background: #2A2D34;
  color: #7D8CA3;
  border: 2px solid #020300;
}

.decor{
  text-decoration: none;
  color: #0072BB;
}

.font{
  font-size: 300%;
}

.decor:hover{
  color:#134074;
}

.follow{
  margin-top: 15px;
  margin-left: 22vw;
}

.unfollow{
  margin-top: 15px;
  margin-left: 21vw;
}

.post-panel{
  margin-top: -22px;
}

.rounded-img{
  border-radius: 8%;
}

.post-title{
  text-align: left;
  margin-left:15px;
}

.post-content{
  text-align: left;
  margin-left:15px;
}

.post-owner{
  font-weight:bold;
  text-transform: uppercase;
}

.post-created{
  opacity: 0.65;
}
.g-links{
  opacity: 0.4;
  font-size: 120%;
  margin-right:75px;
}

.post-form-panel{
  margin-bottom: -41px;
}

.panel-image img.panel-image-preview{
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.panel-heading ~ .panel-image img.panel-image-preview {
  border-radius: 0;
}

.panel-image ~ .panel-body, .panel-image .hide-panel-body ~ .panel-body{
  overflow:hidden;
}

.panel-image ~ .panel-footer a{
  padding: 0px 10px;
  font-size: 1.3em;
  color: rgb(100,100,100);
}

.panel-image .hide-panel-body ~ .panel-body{
  height: 0px;
  padding: 0px;
}
.no-back{
  background-color: #020300;
}
.panel-footer{
  background-color: #2A2D34;
  margin-top:-5px;
}

.panel-default{
  background: #2A2D34;
}

.home-avatar{
  margin-bottom: 5px;
}
.profile-banner{
  width:100%;
  height:auto;
  background-size: cover;
  margin-top: -21px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.panel-body {
    text-overflow: ellipsis;
    overflow: hidden;
}
